body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.one {
  width: 600px;
  padding: 15px;
  float: left;
}

.two {
  margin-left: 600px;
  padding: 15px;
  margin-top: 2em;
  background: rgb(6, 180, 64);
  color: white;
}




h2 {
  margin-top: 1em;
  color: rgb(6, 180, 64);
}

ul.hidden {
  display: none;
}

.button {
  background-color: rgb(6, 180, 64);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5pt 0 15pt;
  font-size: 16px;
}



input[type=submit] {
  background-color: rgb(6, 180, 64);
  color: #fff;
  cursor: pointer;
}


