body {
  font-family: 'Cambria', 'Georgia';
  font-size: 12pt;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.centered {
  text-align: center;
  padding: 40px 150px;
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.6;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
}

.p3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 10pt;
}

span.number {
  color: #11be8a;
  font-weight: bold;
  font-size: x-large;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  color: white;
}

h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.one {
  width: 400px;
  float: left;
}

.two {
  margin-left: 500px;
  padding: 15px;
  margin-top: 2em;
  border: 1px solid darkgray;
  border-radius: 5px;
}



ul.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#11be8a;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  font-size: smaller;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #216fd4;
}

.button {
  background-color: #11be8a;
  border: none; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5pt 0 15pt;
  font-size: 16px;
}

input[type=submit] {
  background-color: #11be8a;
  color: #fff;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: smaller;
  text-align: left;
  margin-bottom: 50px;
}

td {
  border: 1px solid #dddddd;
  padding: 4px;
}

th {
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


