{% extends "layout_nav.html" %}
{% block title %}Haku{% endblock %}


{% block content %}

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{session.username}}</p>
{% endif %}

<body>
  <section class:"container">
     <div class="one">
        {% if session.user_id %}
        {% endif %}
        <h2>Ruokapäiväkirja</h2>
        <p>Tänään on <span id="date"></span></p>
        <br>
        <form action="/select_food" methods="GET">
          <label for="searched_food">Hae ruoka-ainetta:</label><br>
          <input type="text" name="searched_food" placeholder="Hae" required>
          <input type="submit" value="Hae">
        </form>

        {% if portions|length %}
          <p>Päivän saldo:</p>
          <table width="800" cellspacing="0" cellpadding="0">
            <tr>
              <th width="300"></th>
              <th width="30">g</th>
              <th width="30">kcal</th>
              <th width="30">rasva</th>
              <th width="30">hiilihydr.</th>
              <th width="30">proteiini</th>
              <th width="30">kuitu</th>
              <th width="30"></th>
            </tr>
            {% for portion in portions %}
            {% if loop.first or (loop.previtem is defined and portion[0] > loop.previtem[0]) %}
            <tr>
              <td colspan="8"><b>{{portion[2]}}</b></td>
            </tr>
            <tr>
              <td>{{portion[3]}}</td>
              <td>{{portion[4]}}</td>
              <td>{{portion[5]}}</td>
              <td>{{portion[6]}}</td>
              <td>{{portion[7]}}</td>
              <td>{{portion[8]}}</td>
              <td>{{portion[9]}}</td>
              <td><form action="/remove_from_diary" methods="GET">
                <input type="hidden" name="remove" value={{portion[0]}}>
                <input type="submit" value="Poista" class="button2">
              </form></td>
            </tr>
            {% else %}
            <tr>
              <td>{{portion[3]}}</td>
              <td>{{portion[4]}}</td>
              <td>{{portion[5]}}</td>
              <td>{{portion[6]}}</td>
              <td>{{portion[7]}}</td>
              <td>{{portion[8]}}</td>
              <td>{{portion[9]}}</td>
              <td><form action="/remove_from_diary" methods="GET">
                <input type="hidden" name="remove" value={{portion[0]}}>
                <input type="submit" value="Poista" class="button2">
              </form></td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
        {% else %}
          <p>Ei merkintöjä tältä päivältä.</p>
        {% endif %}
      </div>

      <div class="two">
        <h3>Yhteenveto</h3>
        <p class="p1">Tavoite:<br>
        <span class="number"><b>{{kcal}} </span>/ {{calorie_goal}}</b> kcal/vrk.<br>
          Syömättä <b>{{kcal_left}}</b> kcal.
        </p>
        <p class="p3">Arvio energiantarpeesta on laskettu antamiesi 
          tietojen pohjalta perustuen suomalaisiin ravintosuosituksiin.<br>
        </p> 
        <p class="p1">Ravintoaineiden osuudet kokonaisenergiasta:<br>
          <b>Rasva:</b> {{fat}} % (suositus 30 %)<br>
          <b>Hiilihydraatit:</b> {{carbs}} % (suositus 55-60 %)<br>
          <b>Proteiini:</b> {{pro}} % (suositus 10-15 %)<br>
          <b>Kuitu:</b> {{fiber}} g (suositus 30-35 g/vrk)
        </P>
      </div>
  


  
  </section>
</body>

<script>
  n =  new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();
  document.getElementById("date").innerHTML = d + "." + m + "." + y;
</script>


{% endblock %}

