{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}


{% block content %}

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.user_id }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<a href="/register">Luo tunnus</a>
{% endif %}

<body>
  <section class:"container">
     <div class="one">
        <h2>Tervetuloa pitämään ruokapäiväkirjaa</h2>
        <p>Tänään on <span id="date"></span></p>
        <script>
          n =  new Date();
          y = n.getFullYear();
          m = n.getMonth() + 1;
          d = n.getDate();
          document.getElementById("date").innerHTML = d + "." + m + "." + y;
        </script>
        <br>
        <form action="/" id="form1">
          <label for="meal">Valitse ateria:</label><br>
          <input list="meals" name="meal">
          <datalist id="meals">
            <option value="Aamupala">
            <option value="Lounas">
            <option value="Välipala">
            <option value="Päivällinen">
            <option value="Iltapala">
            <option value="Muu">
          </datalist>
        </form>

        <form action="/food_search" id="form2">
          <label for="food_search">Hae ruoka-ainetta:</label><br>
          <input type="text" name="food_search" placeholder="Hae">
          <input type="submit" value="Hae">
        </form>
         
        <label for="amount">Annoksen koko (g):</label><br>
        <input type="number" id="amount" name="amount" min="1" max="2000" form="form1"><br>
        <input type="submit" value="Lisää ruokapäiväkirjaan">
        
        <p>Valitsit aterialle {{meal}} ruoka-aineen {{food}}, jota
           söit yhteensä {{amount}} grammaa.
        </p>
        
        


      </div>
      <div class="two">
        <h3>Päivän saldo</h3>
        <p>Energian viitteellinen päiväsaanti lasketaan tiedoilla:<br>
          <b>Aikuinen keskivertokäyttäjä 2000 kcal.</b>
        </p>
        <P>Tavoite __ /2000 kcal</P>
        <p>Syömättä -- kcal</p>
      </div>
  


  
  </section>
</body>

<script>
  function searchFromList() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('food_list');
    filter = input.value.toUpperCase();
    ul = document.getElementById("my_food_list");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>

{% endblock %}
