{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

<body>
  {% block content %}
    <div class="left">
      <h2>Tervetuloa pitämään ruokapäiväkirjaa</h2>
      <form action="/">
        <label for="date">Tänään:</label>
        <input type="date" id="date" name="date">
        <input type="submit" value="Lähetä">
      </form>
      Valitse ateria:
      <p>
      <input type="radio" name="meal" value="aamupala"> aamupala
      <input type="radio" name="meal" value="lounas"> lounas
      <input type="radio" name="meal" value="välipala"> välipala
      <input type="radio" name="meal" value="illallinen"> illallinen
      <input type="radio" name="meal" value="iltapala"> iltapala
      <input type="radio" name="meal" value="muu"> muu
      <p>
      Lisää ruoka-aine:<br>
      <textarea name="foodstuff" rows="1" cols="50"></textarea>
      <p>
      <input type="submit" value="Lisää ruokapäiväkirjaan">  
    </div>
    <div class="right">
      <h3>Päivän saldo</h3>
      <P>Tavoite -- kcal
      <p>Syömättä -- kcal
    </div>
  


  {% endblock %}
</body>
