{% extends "layout_nav.html" %}
{% block title %}Omat tiedot{% endblock %}

{% block content %}

<body>
  <h2>Kalorintarpeen arviointi</h2>
  <p>Kirjaamalla itsestäsi muutamia perustietoja FoodDiary laskee arvion 
    päivittäisestä energian tarpeestasi. Voit myös asettaa oman tavoitteen 
    päivittäin syömällesi kalorimäärälle. 
  </p>
  <p>Jos et täytä perustietoja tai aseta omaa tavoitetta, sovellus
    arvio päivittäiseksi kaloritarpeeksi 2000 kcal / vrk, joka on laskettu suomalaisen 
    aikuisen keskivertokäyttäjän mukaan.
  </p>
  <p>Pääset muuttamaan tietojasi myöhemmin kohdasta Omat tiedot.</p>
  {% if message|length %}
  <span style="font-weight: bold">{{message}}</span>
  {% endif %}
  <br>
  <h4>1. Aseta oma tavoite</h4>
  <form action="/add_goal" method="POST">
    <label for="goal">Aseta tavoite (kcal):</label>
    <input type="number" name="goal" min="1300" max="6000" value="{{goal}}" required>
    <input type="submit" value="Käytä omaa tavoitetta">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
  </form>
  <br>
  <h4>2. Täytä tiedot ja käytä sovelluksen laskemaa arviota</h4>
  <form action="/add_details" method="POST">
    <input type="radio" name="gender" value="1" required> 
    <label for="1">Nainen</label>
    <input type="radio" name="gender" value="2"> 
    <label for="2">Mies</label><br>

    <label for="age">Ikä:</label><br>
    <input type="number" id="age" name="age" min="20" max="120" value="{{details[1]}}" required><br>

    <label for="height">Pituus:</label><br>
    <input type="number" id="height" name="height" min="0" max="220" value="{{details[2]}}" required><br>

    <label for="weight">Paino:</label><br>
    <input type="number" id="weight" name="weight" min="0" max="200" value="{{details[3]}}" required><br>
    <br>

    <table width="600" cellspacing="0" cellpadding="0">
      <tr>
        <th width="200"><h3>Vapaa-ajan aktiivisuus</h3></th>
        <th></th>
        <th width="200" style="text-align: center;"><h3>Työn aktiivisuus</h3></th>
      </tr>
      <tr>
        <th></th>
        <th>Kevyt työ</th>
        <th>Kohtuu raskas työ</th>
        <th>Hyvin raskas työ</th>
      </tr>
      <tr>
        <th>Ei lainkaan aktiviinen</th>
        <th>
          <input type="radio" name="activity" value="1.3" required>
          <label for="1.3">&emsp;1,3</label>
        </th>
        <th>
          <input type="radio" name="activity" value="1.5">
          <label for="1.5">&emsp;1,5</label>
        </th>
        <th>
          <input type="radio" name="activity" value="1.7">
          <label for="1.7">&emsp;1,7</label>
        </th>
      </tr>
      <tr>
        <th>Satunnaisesti aktiviinen</th>
        <th>
          <input type="radio" name="activity" value="1.5">
          <label for="1.5">&emsp;1,5</label>
        </th>
        <th>
          <input type="radio" name="activity" value="1.7">
          <label for="1.7">&emsp;1,7</label>
        </th>
        <th>
          <input type="radio" name="activity" value="1.9">
          <label for="1.9">&emsp;1,9</label>
        </th>
      </tr>
      <tr>
        <th>Päivittäin aktiviinen</th>
        <th>
          <input type="radio" name="activity" value="1.7">
          <label for="1.7">&emsp;1,7</label>
        </th>
        <th>
          <input type="radio" name="activity" value="1.9">
          <label for="1.9">&emsp;1,9</label>
        </th>
        <th>
          <input type="radio" name="activity" value="2.1">
          <label for="2.1">&emsp;2,1</label>
        </th>
      </tr>
      <tr>
        <th>Poikkeuksellisen aktiivinen<br>(esim. kilpaurheilu)</th>
        <th>
          <input type="radio" name="activity" value="2.0">
          <label for="2.0">&emsp;2,0</label>
        </th>
        <th>
          <input type="radio" name="activity" value="2.2">
          <label for="2.2">&emsp;2,2</label>
        </th>
        <th>
          <input type="radio" name="activity" value="2.4">
          <label for="2.4">&emsp;2,4</label>
        </th>
      </tr>
    </table>

    <input type="submit" value="Käytä laskettua arviota">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
  </form>

  <form action="/food_search">
    <input type="submit" value="Ohita tämä vaihe" />
  </form>
</body>





{% endblock %}

